$main-font: 'Roboto';

$color-text: #575f6b;
$bg-color: linear-gradient(90deg, #f2f3f6 0%, #e5e6ec 100%);

$fz-base: 16px;
$line-height-base: 1.25;

$radius-base: 20px;

$shadow-base: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
$shadow-second: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
